/*
 Theme Name:   		Abbey Machinery	
 Theme URI:    
 Description:  
 Author:       katrien Moore, Bemoore Software
 Author URI:   http://www.bemoore.com/
 Template:     bemoore
 Version:      1.0.0
 Tags:         bemoore.com	l, cork, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  bemoore.com	
*/


/* =Theme customization starts here
-------------------------------------------------------------- */
/* background of the whole page*/

html {
	background:white!important;
	}
	

body {
	background-color:white;
	}

/* Title image (The "WordPress Logo") Must use image as a Background!
* Remember to update the height and width your image's dimensions
*/
#login h1 a /* works best with image about 300px wide*/
 {
background:url('/wp-content/themes/abbey/images/logo.jpg') no-repeat !important;
background-size: 300px auto !important;
width:600px;
height:150px;
margin-bottom:-20px !important;
margin-top:50px;
margin-right:auto;



}

#login
{
padding:0px !important;
}
 
/* The Form ( The login box )
 */

/* The Form ( The login box )
* Background color, border, shadow, etc..
*/
#login form {
margin_top:5px;
background-color:#DA5633;
}

 
/* The Login Fields
* Username and Password
*/
#login .input {
background-color:#ffffff;
}
 /* The Labels
* The text above the fields
*/
#login label {
color:#fff;
font-size:12px;
font-size:1.5rem;
}
/*

/*
* The Submit Button
*/
#login input[type=submit] {
 background: -webkit-linear-gradient(#CC4040, #751111); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#CC4040, #751111); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#CC4040, #751111); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#CC4040, #751111); /* Standard syntax */;
border-radius:0px;
border:none;
}
 
#login input[type=submit]:active {}


/*
* The Back to blog and Forgot Password link
*/
#nav a,
#backtoblog a {
color:black !important;
font-weight:bold;
font-size:120%;
}

/*
Read more: http://andornagy.com/customizing-the-wordpress-login-page/#ixzz32MCjsSLu 
Follow us: @andornagy on Twitter

Read more: http://andornagy.com/customizing-the-wordpress-login-page/#ixzz32MAi5yPu 
Follow us: @andornagy on Twitter
*/
