/*
 Theme Name:   	Abbey Machinery		
 Theme URI:    
 Description:  	
 Author:       katrien Moore, Bemoore Software
 Author URI:   http://www.bemoore.com/
 Template:     bemoore
 Version:      1.0.0
 Tags:         bemoore.com	l, cork, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  bemoore.com	
*/


/* =Theme customization starts here
-------------------------------------------------------------- */
.frontpage#main-container , #wrap > div:nth-child(3)
{
background:#f7f7f7!important;
}


/*backgrounds on all frontpage widgets*/
/*
#advanced-featured-page-widget-5 , #text-11 , #advanced-featured-page-widget-4 , #text-23 , #text-24
{
background: #ebebeb;

}
*/

.outside-row
{
margin-top:15px;
background:#F7F7F7;
border-right:3px solid #e6e6e6 !important;
border-left:3px solid #e6e6e6 !important;

}

#main-row
{
padding-right:5%;
padding-left:5%;

}
/*
#advanced-featured-page-widget-5 , #text-11 , #advanced-featured-page-widget-4 , #text-10  , #advanced-featured-page-widget-2 , #advanced-featured-page-widget-14 , #text-23 , #text-24
{
background:#F7F7F7;
border:1px solid #e4e4e4;
margin-top:20px;
box-shadow:8px 8px 12px lightgrey;
}

#advanced-featured-page-widget-6
{
background:white;
margin-top:20px;
box-shadow:8px 8px 12px lightgrey;
}
*/

/*
#advanced-featured-page-widget-5 > div , #advanced-featured-page-widget-4 > div , #advanced-featured-page-widget-6 > div , #text-10 > div , #advanced-featured-page-widget-2 > div , #advanced-featured-page-widget-14 > div , #text-23 > div, #text-24 > div
{
padding:20px;
}

#advanced-featured-page-widget-5 , #text-11 , #advanced-featured-page-widget-14 , #text-24
{
height:380px;
}

#text-23
{
height:780px;
}
*/

h4.front-page-widget-title:after
{
display:none;
}

/*read more button*/
/*#advanced-featured-page-widget-2 > div > p > a
{
color:#F75E45;
font-weight:bold;
}
*/
/*titles for widgets on front page*/
/*
#advanced-featured-page-widget-4 > h4 , #advanced-featured-page-widget-5 > h4 , #text-11 > h4 , #text-10 > h4 , #advanced-featured-page-widget-2 > h4 , #advanced-featured-page-widget-14 > h4 , #text-23 > h4 , #text-24 > h4
{
border-bottom:1px solid #e4e4e4;
padding:20px 10px 15px 10px;
color:#484848;
font-weight:bold;
font-size:1.8em;
text-transform:none;
}

#advanced-featured-page-widget-6
> h4 
{
border-bottom:1px solid #e4e4e4;
padding:25px 10px 15px 10px;
color:#484848;
font-weight:bold;
font-size:1.8em;
}


#advanced-featured-page-widget-4 , #advanced-featured-page-widget-6 
{
height:620px;
}

#text-10 , #advanced-featured-page-widget-2 
{
height:380px;
}
*/

#text-10 > div > div > div.ywcps-wrapper > div.ywcps-slider > div > ul > div.owl-stage-outer > div > div > li > div.product_thumbnail > img
{
box-shadow:none;
padding:15px;
}


/*connect with us*/
#main-row > div > div:nth-child(5) > div > h1
{
font-weight:bold;
text-transform:uppercase;
padding-top:10px;
padding-bottom:10px;
}

#text-12 , #text-13 , #widget-easy-twitter-feed-widget-kamn-2
{
background:white;
padding:10px;
}

#text-12 > h4 , #text-13 > h4 , #text-29 > h4 , #text-32 > h4
{
color:#F75E45 !important;
font-weight:bold;
font-size:1.5em;
text-transform:uppercase;
border-bottom:2px solid #F75E45;
}
#text-32 > h4
{
    background: white;
    margin-bottom: 0px;
    padding: 20px 20px 0px 10px;
    margin-top: -1px;
}

#text-30
{
margin-top:-10px;
}

#do-etfw-2 > h4
{
color:#F75E45 !important;
font-weight:bold;
font-size:1.5em;
text-transform:uppercase;
border-bottom:2px solid #F75E45;
}

#do-etfw-2
{
background:white;
padding:10px;
}

.timeline-Footer
{
display:none !important;
}

/*facbook*//*twitter*/
div.cff-author > a > div.cff-author-text > p.cff-page-name.cff-author-date
{
color:#F75E45;
}

.cff-likebox
{
margin:0px;
}

#facebook , #twitter
{
background:#ABABAB;
padding:15px 10px;
text-align:center;
}

#facebook > a , #twitter > a
{
color:white;
font-weight:bold;
font-size:15px !important;
}

#follow
{
background:#3A5695;
padding:8px 10px;
color:white;
margin-left:15px;
}

#follow2
{
background:#00D8FF;
padding:8px 10px;
color:white;
margin-left:15px;
}


/*news*/


#text-12 , #text-13 , #do-etfw-2 , #rpwwt-recent-posts-widget-with-thumbnails-2
{
height:415px;
}

#news
{
background:#F75E45 !important;
padding:15px 10px !important;
text-align:center !important;
}

#news > a
{
color:white !important;
font-weight:bold !important;
font-size:15px !important;
}


#text-13 , #text-14 , #text-15 , #widget-easy-twitter-feed-widget-kamn-2 , #text-16 , #do-etfw-2 , #rpwwt-recent-posts-widget-with-thumbnails-2
{
box-shadow:8px 8px 12px lightgrey;
}

#main-row > div > div:nth-child(5) > div
{
padding-bottom:30px;
}

#recent-posts-6
{
height:415px;
overflow:hidden;
}

#recent-posts-6 > ul
{
padding-left:20px;
}

#recent-posts-6 > ul > li > a
{
font-weight:bold;
}

#recent-posts-6 > ul > li 
{
font-size:15px;
margin-bottom:6px;
margin-top:3px;
}

#recent-posts-6 > h4
{
color:#F75E45 !important;
font-weight:bold;
font-size:1.5em;
text-transform:uppercase;
border-bottom:2px solid #F75E45;
}

#recent-posts-6
{
background:white;
padding:10px;
}

/* New homepage widget class */
.homepage-widget
{
	border:1px solid #e4e4e4;
	background:#F7F7F7;
	border:1px solid #e4e4e4;
	margin-top:20px;
	box-shadow:8px 8px 12px lightgrey;
}

/*testimonials widget*/
#wonderplugincarousel-2 > div > div > ul > li > div.amazingcarousel-item-container
{
	height:250px;
}


.homepage-widget div
{
	padding:10px 20px 10px 20px;	
}

.production div,.testimonials div
{
	padding:0px 0px 0px 0px;	
}

/* Headings */
.homepage-widget > h4
{
border-bottom:1px solid #e4e4e4;
padding:20px 10px 15px 10px;
color:#484848;
font-weight:bold;
font-size:1.8em;
text-transform:none;
}

/*read more button*/
.homepage-widget > div > p > a
{
	color:#F75E45;
	font-weight:bold;
}


