/*
 Theme Name:   		Abbey Machinery	
 Theme URI:    
 Description:  
 Author:       katrien Moore, Bemoore Software
 Author URI:   http://www.bemoore.com/
 Template:     bemoore
 Version:      1.0.0
 Tags:         bemoore.com	l, cork, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  bemoore.com	
*/


/* =Theme customization starts here
-------------------------------------------------------------- */
#header-top
{
display:none;
}

.logo-row
{
height:auto;
max-height:200px;
}

/*text under logo*/
#logotext
{
font-style:italic;
}

/* newsletter button*//*login/register button*/
#newsletter , #login , #logout , #profile
{
background:#F75E45;
padding:6px 25px !important;
border-radius:15px;
text-align:center;
box-shadow:5px 5px 8px lightgrey;
}

#newsletter > a , #login > a , #logout > a , #profile > a
{
color:white;	
font-weight:bold;
}

#text-19
{
padding-top:10px;
}

#wrap > header > div.header-body > div > div > div.col-md-7.hidden-xs
{
padding-right:50px;
}

#newsletter > a:before
{
font-family: FontAwesome;
list-style-type: none;
content: "\f003 \0020";
margin-right:2px;
}

#login > a:before
{
font-family: FontAwesome;
list-style-type: none;
content: "\f090 \0020";
margin-right:2px;
}

#logout > a:before
{
font-family: FontAwesome;
list-style-type: none;
content: "\f011 \0020";
margin-right:2px;
}

#profile > a:before
{
font-family: FontAwesome;
list-style-type: none;
content: "\f007 \0020";
margin-right:2px;
}

/*logo*/
#wrap > header > div.header-body > div > div > div.col-md-5
{
padding-left:50px;
}

.img-responsive
{
max-width:250px ;
}

/*text under logo*/
#advanced-featured-page-widget-11 > div > h3
{
font-style:italic;
padding-left:50px;
}



/*social media*/


#text-20 > div > div > ul > li > a > img
{
width:40px;
margin-top:10px;
}

#text-20 > div > div > ul > li:nth-child(1)
{
margin-left:18%;
}

#advanced-featured-page-widget-11 > div > h3
{
margin-top:-30px;
}

.list-inline
{
margin-top:-10px;
}

/*menu*/
#wrap > header
{
border-bottom:1px solid #dedede !important;
}

#wrap > div.new-menu.col-md-12
{
border-bottom:3px solid #F75E45;
}

.ubermenu-nav
{
background: #5a656e;/* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#5a656e, #606c75); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5a656e, #606c75); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5a656e, #606c75); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5a656e, #606c75); /* Standard syntax */
}

.ubermenu-main .ubermenu-item-layout-image_left > .ubermenu-target-text
{
padding-left:0px !important;
}

.ubermenu-current-menu-item , .ubermenu-current_page_item
{
background:white !important;
}

/*move menu a bit to the left*/
#menu-item-225
{
margin-left:-5%;
}

#menu-item-346 > a > i
{
margin-right:10px !important;
}
/*slider*/
.slider
{
margin-bottom:0px;
}



/*footer*/

/*grass above footer*/
.grass
{
background:url('images/grass.png');
height:140px;
}

#extended-footer
{
background:black !important;
}

#extended-footer > div > div > div:nth-child(1) > div > div > div > p:nth-child(1)
{
background: url('images/location_icon.png') no-repeat top left;
padding-left: 40px;
margin-bottom: 30px;
}

#extended-footer > div > div > div:nth-child(1) > div > div > div > p:nth-child(2)
{
background: url(images/phone_icon.png) no-repeat top left;
padding-left: 40px;
margin-bottom: 30px;
}

#extended-footer > div > div > div:nth-child(1) > div > div > div > p:nth-child(3)
{
background: url(images/mail_icon.png) no-repeat left 28%;
padding-left: 40px;
margin-bottom: 30px;
}

#extended-footer > div > div > div:nth-child(1) > div > div > div > p:nth-child(4)
{
padding-left: 40px;
margin-bottom: 30px;
}

#extended-footer > div > div > div:nth-child(1) > div > div > div > p , #extended-footer > div > div > div > div > div > div > p > a
{
color:white;
}

/*footer menu*/
#extended-footer > div > div > div:nth-child(2) > div > div > div > div.us_width-25 > div > div > p > a , #extended-footer > div > div > div:nth-child(2) > div > div > div > div.us_width-25 > div > div > p , #extended-footer > div > div > div:nth-child(3) > div > div > div > p > a , #extended-footer > div > div > div:nth-child(3) > div > div > div > p 
{
color:white;
}

#extended-footer > div > div > div:nth-child(2) > div > div > div > div.us_width-25 > div > div , #extended-footer > div > div > div:nth-child(3) > div > div > div
{
padding-top:15%;
}


#extended-footer > div > div > div:nth-child(4) > div > div > div
{
padding-top:15%;
}

#footer
{
display:none;
}

body > footer > div.container > div.col-md-12.powered > div > p
{
color:#F75E45;
}