/*
 Theme Name:   		Abbey Machinery	
 Theme URI:    
 Description:  
 Author:       katrien Moore, Bemoore Software
 Author URI:   http://www.bemoore.com/
 Template:     bemoore
 Version:      1.0.0
 Tags:         bemoore.com	l, cork, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  bemoore.com	
*/


/* =Theme customization starts here
-------------------------------------------------------------- */

/*color of responsive menu*/
#sticky-wrapper > div
{
background:#5a656e;
}

#sticky-wrapper > div > a
{
color:white;
}



@media (max-width:590px)
{
#advanced-featured-page-widget-2 , #advanced-featured-page-widget-4 > div > p:nth-child(1) > img , #advanced-featured-page-widget-6 > div > p:nth-child(1) > img , #post-18 > div > p:nth-child(2) > img
{
display:none !important;
}
}


/*making sure the sidebar does not cover up the product tab buttons because otherwise they do not work*/

@media(max-width:1000px)
{
#main-row > div.col-md-3.sidebar-left
{
margin-top:100% !important;
}
}


@media(max-width:450px)
{
#main-row > div.col-md-3.sidebar-left
{
display:none !important;
}
}

/*on smaller screens make sure the text does not fall out of front page widgets*/

@media(max-width:1143px)
{
#advanced-featured-page-widget-4, #advanced-featured-page-widget-6 
{
    height: 660px !important;
}
}
/*for smaller screens cleaning up footer*/

@media(max-width:1000px)
{
 #extended-footer > div > div > div:nth-child(3) > div > div > div ,  #extended-footer > div > div > div:nth-child(4) > div > div > div 
{
    padding-top: 0px !important
}

/*trying to tidy up the product pages on small screens*/
@media(max-width:1000px)
{
.cart-div.col-md-12 
{
 margin-left: 40% !important;
}
}