/*
 Theme Name:   Abbey Machinery	
 Theme URI:    
 Description:  
 Author:       katrien Moore, Bemoore Software
 Author URI:   http://www.bemoore.com/
 Template:     bemoore
 Version:      1.0.0
 Tags:         bemoore.com	l, cork, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  bemoore.com	
*/


/* =Theme customization starts here
-------------------------------------------------------------- */

@media print
{
	
/*stripping urls out of print*/
a[href]:after 
{ 
content: none !important; 
}


/*avoiding page breaks all over the page*/
img 
{
 page-break-inside:avoid; 
 page-break-after:avoid;
}

blockquote, table, pre 
{
page-break-inside:avoid;
}

ul, ol, dl  
{
page-break-before:avoid;
}

h1, h2, h3, h4, h5, h6 
{
page-break-after:avoid; 
page-break-inside:avoid;
}
