 /*
 Theme Name:   		Abbey Machinery	
 Theme URI:    
 Description:  	
 Author:       katrien Moore, Bemoore Software
 Author URI:   http://www.bemoore.com/
 Template:     bemoore
 Version:      1.0.0
 Tags:         bemoore.com	l, cork, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  bemoore.com	

*/

/* =Theme customization starts here
-------------------------------------------------------------- */

/*make sure logo is right size on product pages*/
#wrap > header > div.header-body > div > div > div.col-md-5 > div > div:nth-child(1) > a > img
{
max-width:250px !important;
height:auto;
}


/*single product page*/
[id^="product-"] > div.images > a > img
{
width:80% !important;
}

.amount
{
color:green;
}

#primary > nav , #primary > nav > a
{
color:#F75E45;
padding-top:20px;
padding-bottom:20px;
}

.row .product-page
{
background:white;
margin-top:30px;
margin-bottom:30px;
}

#tab-description > h2
{
color:#F75E45;
}

[id^="product-"] > div.summary.entry-summary
{
width:100% !important;
}

/*category pages*/

.count
{
display:none;
}

#main-row > div.col-md-9
{
background:white !important;
margin-top:20px;
margin-bottom:20px;
padding-bottom:20px;
}

.page-title
{
color:#F75E45;
margin-bottom:40px;
}

#content > div.col-md-3.product-category.product > a > img 
{
border:2px solid #F75E45;
box-shadow: 5px 5px 8px lightgrey;
}

.inside-div
{
border:none !important;
}

.product-picture > a > img
{
border:2px solid #F75E45;
box-shadow: 5px 5px 8px lightgrey;
height:150px;
width:auto;
margin-bottom:10px;
}

.stock.col-md-12.pull-left
{
display:none;
}

.cart-div.col-md-12.pull-left
{
margin-bottom:20px;
text-align: center;
}

.cart-div.col-md-12.pull-left > a
{
background: #F75E45;
color:white;
}

#content > div.col-md-3.outside-div.product.type-product.status-publish.has-post-thumbnail.product-type-simple > div > h4
{
text-align:center;
}

#content > div.row > div.col-md-3.col-lg-3.col-sm-6.outside-div.product.type-product.status-publish.has-post-thumbnail > div > h4 > a
{
color:black;
}

#content > div.row > div.col-md-3.col-lg-3.col-sm-6.outside-div.post-37.product.type-product.status-publish.has-post-thumbnail > div 
{
text-align:center;
}

#primary > div.container-fluid > div.row > div.col-md-3.col-lg-3.col-sm-6 > div > p
{
text-align:justify;
margin-top:10px;
background:#f7f7f7;
padding:6px;
min-height:140px;
}

#primary > div.container-fluid > div.row > div.col-md-3.col-lg-3.col-sm-6
{
text-align:center;
position:relative;
min-height:410px;
}

#primary > div.container-fluid > div.row > div.col-md-3.col-lg-3.col-sm-6 > div.cart-div.col-md-12
{
position:absolute;
bottom:0;
padding-right:20%;
}

/*single product pages */
/*sidebar*/
#main-row > div > div.col-md-3.sidebar-left
{
/*background:#ebebeb;*/
padding-top:45px;
}

#wysija-3 > h4 , #advanced-featured-page-widget-12 > h4 , #custom-recent-posts-4 > h4
{
color:#F75E45;
font-weight:bold;
}

#wysija-3 , #advanced-featured-page-widget-12 , #custom-recent-posts-4
{
margin-bottom:20px;
padding-bottom:20px;
border-bottom:1px solid #F75E45;
}


/*category page */
/*sidebar*/

#wysija-4 > h4 , #advanced-featured-page-widget-13 > h4 , #recent-posts-5 > h4
{
color:#F75E45;
font-weight:bold;
}

#wysija-4  , #advanced-featured-page-widget-13  , #recent-posts-5 
{
margin-bottom:20px;
padding-bottom:20px;
border-bottom:1px solid #F75E45;
}

#main-row > div.col-md-4.sidebar-left , #main-row > div.col-md-3.sidebar-left
{
/*background:#ebebeb;*/
padding-top:45px;
margin-top:30px;
}

#primary > div.container-fluid > div > div.col-md-3.col-lg-3.col-sm-6.outside-div.product.type-product.status-publish.has-post-thumbnail.product-type-simple > div > h4
{
height:50px;
}

#primary > div.container-fluid > div.row > div > div
{
border:none;
}

#primary > div.container.col-md-12 > form > select
{
display:none;
}

/*all products page*/
#content > div.col-md-6.product-category.product > a > img
{
height:200px;
width:auto;
}

.abbey_product_category_title
{
text-decoration:underline;
text-transform:uppercase;
margin-bottom:35px;
}

.product-title
{
height:50px;
}
/*take out default ordering*/
.woocommerce-result-count , .woocommerce-ordering
{
display:none;
}


/*product pages*/

.col-md-12.subcat-image > a > img
{
border: 2px solid #F75E45;
box-shadow: 5px 5px 8px lightgrey;
height: 150px;
width: auto;
margin-bottom: 10px;
}

.product_cat
{
text-decoration:underline;
text-transform:uppercase;
margin-bottom:35px;
}

.col-md-12 .subcat-title
{
height:50px;
clear: both;
}

.subcat-wrapper
{
text-align:center;
margin-top:30px;
}

/*making the pdf smaller*/
.pdfemb-the-canvas , .pdfemb-inner-div , .pdfemb-viewer 
{
max-width:100%!important;
width:100% !important;
height:auto !important;
}

/*text under images in product pages gallery */
.gallery-caption
 {
font-style:normal;
font-size: 0.9em;
line-height: 2;
font-weight: bold;
margin-top: 2px;
margin-bottom: 2px;
}