/*
 Theme Name:   	Abbey Machinery
 Theme URI:    
 Description:  
 Author:       katrien Moore, Bemoore Software
 Author URI:   http://www.bemoore.com/
 Template:     bemoore
 Version:      1.0.0
 Tags:         bemoore.com	l, cork, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  bemoore.com	
*/

@import url("../bemoore/style.css");
@import url("header-footer-style.css");
@import url("frontpage-style.css");
@import url("mobile-style.css");
@import url("products-style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */
p, a , li , h1 , h2 , h3 , h4 , h5 , h6 , .product_excerpt
{
font-family: 'Open Sans', sans-serif !important;
color:#5E5E5E;

}

p , product_excerpt , li

{
font-size:13px;
}

.entry-content img, .comment-content img, .widget img, img.header-image, .author-avatar img, img.wp-post-image
{
box-shadow:none;
}

/*make everything justify*/
#text-12 > div > div , #advanced-featured-page-widget-2 > div , #advanced-featured-page-widget-5 > div , #advanced-featured-page-widget-4 > div , .entry-content 
{
text-align:justify;
}

#wrap
{
padding-bottom:0px;
}

#main-row > div.col-md-9
{
background:white;
padding:30px 20px;
margin-top:30px;
margin-bottom:30px;
}

.entry-title
{
color:#F75E45;
font-weight:bold;
margin-bottom:30px;
}

/*all pages*/

/*make sure content does not fall into footer*/
#content
{
height:auto !important;
}

#main-row > div.col-md-3.sidebar-right
{
/*background:#ebebeb;*/
padding-top:45px;
margin-top:30px;
}

#content > article > footer
{
display:none;
}

#custom-recent-posts-3 > h4 , #advanced-featured-page-widget-10 > h4 , #wysija-2 > h4 , #text-22 > h4
{
color:#F75E45;
font-weight:bold;
}

#custom-recent-posts-3  , #advanced-featured-page-widget-10  , #wysija-2 , #text-22 
{
margin-bottom:20px;
padding-bottom:20px;
border-bottom:1px solid #F75E45;
}

h4.widget-title:after
{
display:none;
}

/*all galleries*/

.gallery .gallery-icon img 
{
padding: 0px;
}

[id^="gallery-"]  img
{
border:2px solid #F75E45 !important;
box-shadow:5px 5px 8px lightgrey;
}

/*news events page*/
[id^="post-"]> header > hgroup > h2 > a
{
color:#F75E45;
}

.category-news , .category-testimonials , .category-slurry , .category-grassland  , .category-feeders
{
    margin-bottom: 50px;
    border-bottom: 1px dashed #F75E45;
    padding-bottom: 50px;
}


/*making sure date does not look like a link*/

.category-news .post_date > a:hover , .category-events .post_date > a:hover
{
text-decoration:none;
color:#5E5E5E;
}

/*downloads page*/
.pdf-image
{
width:250px;
height:auto;
}

#main-row > div.col-md-9 > div > div > div.col-md-12.download-title > h2 > a
{
color:#F75E45 !important;
}

.download
{
margin-bottom: 20px;
 border-bottom: 1px dashed #F75E45;
padding-bottom: 50px;
}	

.download-button > a
{
background:#F75E45;
color:white;
padding:6px 10px;
border-radius:10px;
}

.archive-title , .download-title > h2 > a
{
color:#F75E45;
}

.download-description
{
/*margin-top:30px;*/
}

/*testimonials*/
.post_comment , #comments , 
{
display:none;
}

#testimonial-title 
{
color:#F75E45;
}

.category-grassland .post_date , .category-feeders .post_date , .category-slurry .post_date
{
display:none !important;
}

/*product pages*/

.col-md-12.subcat-image > a > img
{
border: 2px solid #F75E45;
box-shadow: 5px 5px 8px lightgrey;
height: 150px;
width: auto;
margin-bottom: 10px;
}

/*removing meta data from events and testimonials*/
.post-meta
{
display:none;
}