/*
Theme Name: BeMoore
Theme URI: http://www.bemoore.com
Author: Bemoore Software
Author URI: http://www.bemoore.com, http://www.opencodez.com
Description: The BeMoore theme for WordPress developed on top of Twitter Bootstrap Framework 3.0. The theme is fully responsive and can be viewed on any device. BeMoore theme provides 6 different layouts for posts and pages, 11 widget areas, 3 strategic menu locations, nicely designed and customizable footer with its own widgets. In addition to this the theme comes with pre-installed widgets for Google Custom Search Engine, Social Icon Box and Front Page Marketing Text unit. BeMoore provides 4 beautiful color schemes to choose from. Use any color theme that is suitable to your need. This is a fork of Openstrap by Opencodez themes.
Version: 1.0.13
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: light, orange, white, one-column, two-columns, three-columns, right-sidebar,left-sidebar, responsive-layout, custom-background, custom-header, custom-menu, featured-images, flexible-header, full-width-template, post-formats, sticky-post, theme-options, translation-ready, custom-colors
Text Domain: bemoore
*/

/*  Copyright 2015 BeMoore Software, 2013 Opencodez.
BeMoore WordPress theme, Copyright (C) 2015 Opencodez
BeMoore WordPress theme is licensed under the GPL.

The license for this software can also likely be found here:
http://www.gnu.org/licenses/gpl-3.0.html
*/


/*Theme CSS*/
@import url("css/navbar-collapse.css");

/* Debugging */
@import url("css/debug.css");

#bodychild{	
	max-width: 100%;
	margin:0 auto;
	padding:0;
	background: #fff;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  /*height: auto !important;*/
  height: 100%;
  /* Negative indent footer by its height */
  #margin: 0 auto -70px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}

p {
font-size: 15px;
}

.post-meta {   
  padding-bottom: 3px;
  margin-bottom: 10px; 
  font-size: 13px;  
  #border-bottom: 1px solid #ddd;    
}
.post-meta a {  
    font-size: 13px; 
}

hr.post-meta-hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #ddd;
}

.post_date, .post_comment {
margin-left:4px;
}

.full-width {
  max-width: 100%; 
}

.featured-img {
	float:left; 
	padding-right:20px;
	padding-bottom:10px;
}

.textwidget {
	font-size: 15px
	#line-height: 1.0;
}

.widget {
	margin-bottom:20px;	
}
.sidebar-right, .sidebar-left, .site-content,.entry-content, .entry-meta , article, span, a {
	word-wrap: break-word;
}

.entry-meta {
	clear: both;
}

.widget-title {
	font-size: 16px;
	line-height: 1.0;
	font-weight: bold;
	text-transform: uppercase;
	color: #111;
}

h4.widget-title:after{
    border-bottom:1px solid gray;
    display: block;
    margin: 0.5em 25% 0 0;
    content: " ";
}

.widget ul, .widget ol, .widget dl {
  padding:0;
  margin: 0;
  font-size: 14px;
}

.footer-widget ul, .footer-widget ol, .footer-widget dl {
  padding:0;
}

.widget ul li, .footer-widget ul li {
	list-style: none;
	#display: block;
	margin: 0;
	line-height: 1.75;
	list-style-type: none;
	list-style-position: inside;
	margin-left: 0px;
}

.cat-tag-info,  .author-link{
	font-size: 13px;
}
.post_cats {
	padding-bottom:5px;
}

.commentlist .link-avatar{
padding-right:8px;
}

.commentlist ul.children{
padding-top:10px;
}

.reply {
	font-size: 12px;
}

h3 small {
font-size: 12px;
}

.commentlist .media-heading{
font-size: 14px;
}

article.comment {
padding-top:5px;
padding-left:5px;
}

.site-header {
	#height:152px;
}

.logo-row{
#margin-bottom:20px;
#max-height:173px;
height:105px;
max-height:105px;
padding-top:3px;
}

#header-top {
	#background-color: #333;	
	font-size: 12px;
	height: 23px;
	max-height: 23px;		
	#border-bottom: 1px solid #444;
}

#header-top > .container {
height: 23px;
max-height: 23px;
}

#header-top a:hover, a:focus {
#color: #dd4814;
text-decoration: underline;
}

#header-top a {
#color: #fff;
text-decoration: none;
}

#header-top-container {
padding-top: 3px;
}

.header-widget {   
	display: table-cell !important;
}

.header-widget #searchform {
	padding-top:25px;
}

.header-widget #cse-search-box {
	padding-top:25px;
}

.header-widget .social-icon-box-inner {
	padding-top:30px;
}

.social-icon-box-inner ul li a{
	text-decoration:none;	
}

/* Set the fixed height of the footer here */
#footer {
  height: 50px;
  background-color: #f5f5f5;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}
.container .credit {
  font-size: 13px;
  color:#333;
}

.footer-nav {
	padding-top: 18px;
    font-size: 13px;	
}

#extended-footer {  
  background-color: #333;  
  color:#999;
  padding-top:15px;
  padding-bottom:15px;
}

.footer-widget-title {
font-size: 15px;
line-height: 1.0;
font-weight: bold;
text-transform: uppercase;
color: #eee;
}

h4.footer-widget-title:after{
    border-bottom:1px solid #666;
    display: block;
    margin: 0.5em 25% 0 0;
    content: " ";
}

.front-page-widget-title {
font-size: 15px;
line-height: 1.0;
font-weight: bold;
text-transform: uppercase;
color: #333;
}

h4.front-page-widget-title:after{
    border-bottom:3px solid #666;
    display: block;
    margin: 0.5em 40% 0 0;
    content: " ";
}

.front-page-blurb h1 {
	text-shadow: 0px 1px 1px #eee;
}

.front-page-blurb .lead {
	font-style:italic
}

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
	padding-bottom:15px;
}
hr.style-eight:after {
	font-family: FontAwesome;
    content: "\f188";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}


.pagination-centered {
	text-align: center;
}

/*For Submit Button in Comment*/

input[type="submit"] {
display: inline-block;
padding: 8px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

/* Front Page CSS */

.slider {
margin-bottom: 30px;
}

.carousel-control .icon-prev-c, .carousel-control .icon-next-c 
{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 5;
	display: inline-block;
	font-size: 30px;
}

/* Responsive images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Images */

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft {
	margin: 12px 24px 12px 0;
	margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}
img.alignright {
	margin: 12px 0 12px 24px;
	margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}
img.aligncenter {
	margin-top: 12px;
	margin-top: 0.857142857rem;
	margin-bottom: 12px;
	margin-bottom: 0.857142857rem;
}

.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
	/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.wp-caption {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 4px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #757575;
}
img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.entry-content dl.gallery-item {
	margin: 0;
}
.gallery-item a,
.gallery-caption {
	width: 90%;
}
.gallery-item a {
	display: block;
}
.gallery-caption a {
	display: inline;
}
.gallery-columns-1 .gallery-item a {
	max-width: 100%;
	width: auto;
}
.gallery .gallery-icon img {
	height: auto;
	max-width: 90%;
	padding: 5%;
}
.gallery-columns-1 .gallery-icon img {
	padding: 3%;
}

/* Make sure videos and embeds fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%;
}

.frontpage-widget-inner-text img {
 box-shadow:0 0px 0px rgba(0, 0, 0, 0);
}
h1 a:hover,
h1 a:focus,
h2 a:hover,
h2 a:focus {
  text-decoration: none;
}

.readmore{
}

/* Required to pass theme checke. Atleast need to keep them empty. */
.sticky{
}

.bypostauthor{
}

.popular-posts ul {
	list-style-type: none;
}
.popular-posts ul li:before {
	font-family: FontAwesome;
	list-style-type: none;
	content: "\f138  \0020";
	#color: #dd4814;
}

.widget_categories ul, .widget_recent_entries ul {
	list-style-type: none;
}
.widget_categories ul li:before, .widget_recent_entries ul li:before {
	font-family: FontAwesome;
	list-style-type: none;
	content: "\f0a9  \0020";
	#color: #dd4814;
}

.header-contact {
color: #fff;
}

.header-contact span {
margin-right:5px;
}

/*Bootstrap Multilevel Menu*/

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
/*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/* search input field */
input[type=search] {
	background: #ededed url(images/search-icon.png) no-repeat 7px center;
	border: solid 1px #ccc;
	#padding: 9px 10px 9px 27px;
	padding-left:35px;
	width: 37px;
	height: 37px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	top : 4px;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	outline: none;
}

/* placeholder */
input:-moz-placeholder {
	color: transparent;
}
input::-webkit-input-placeholder {
	color: transparent;
}

#topbar-search-sm input[type=search] {
	margin-top:4px;
}

.navbar-toggle {
	float:left;
	margin-left: 15px;
}

.navbar-search-sm {
margin-right:30px;
}


/* Hide WP Stats Smily at bottom of page */
img#wpstats{display:none}



/* Optin Dark Style*/

#optin_dark {
	background: #333;
	#border: 1px solid #111;
	color: #fff;
	padding: 35px 30px;
	padding-bottom:20px;
	padding-top:20px;
	border-radius: 3px;
	
}
#optin_dark input {
	border: 1px solid #111;
	font-size: 15px;
	margin-bottom: 10px;
	padding: 8px 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 2px 2px #111;
	-moz-box-shadow: 0 2px 2px #111;
	-webkit-box-shadow: 0 2px 2px #111;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;		
	width: 100%;
}
#optin_dark input.email { color: #999; background: #fff url(images/optin/email.png) no-repeat 10px center; padding-left: 35px }
#optin_dark input.name { color: #999; background: #fff url(images/optin/name.png) no-repeat 10px center; padding-left: 35px }
#optin_dark input[type="submit"] {
	background: #f15123;
	border: 1px solid #111;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 0;
	text-shadow: -1px -1px #3a060a;
	width: 100%;

}
#optin_dark input[type="submit"]:hover { color: #fff; background: #0079a1;}

#optin_dark h4 {
color: #fff;
text-align: center;
padding-left: 8px;
padding: 5px 10px;
text-transform: uppercase;
font-weight:600;
}

#optin_dark span { 
background: url(images/optin/lock.png) no-repeat center left; 
clear:both;
padding-left: 20px;
font-size: 13px;
text-align: center;
}


/* Optin Light Style*/

#optin_light {
	background: #efefef;
	border: 1px solid #ccc;
	padding: 35px 30px;
	padding-top:20px;
	padding-bottom:20px;
	border-radius: 3px;
}

#optin_light input {
	background: #fff;
	border: 1px solid #ccc;
	font-size: 15px;
	margin-bottom: 10px;
	padding: 8px 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 2px 2px #ddd;
	-moz-box-shadow: 0 2px 2px #ddd;
	-webkit-box-shadow: 0 2px 2px #ddd;
	width: 100%;
}
#optin_light input.name { color: #999; background: #fff url(images/optin/name.png) no-repeat 10px center; padding-left: 35px }
#optin_light input.email { color: #999; background: #fff url(images/optin/email.png) no-repeat 10px center; padding-left: 35px }
#optin_light input[type="submit"] {
	background: #217b30 url(images/optin/green.png) repeat-x top;
	border: 1px solid #137725;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 0;
	text-shadow: -1px -1px #1c5d28;
	width: 100%;
}
#optin_light input[type="submit"]:hover { color: #c6ffd1 }

#optin_light h4 {
text-align: center;
padding-left: 8px;
padding: 5px 10px;
text-transform: uppercase;
font-weight:600;
}

#optin_light span { 
background: url(images/optin/lock.png) no-repeat center left; 
clear:both;
padding-left: 20px;
font-size: 13px;
text-align: center;
}


@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
	
	.navbar-search-sm {
		margin-right: 0px;
	}	
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
.navbar-form {
 padding: 0px;
 border:0px;
-webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.1), 0 0px 0 rgba(255, 255, 255, 0.1);
box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.1), 0 0px 0 rgba(255, 255, 255, 0.1);
}
.navbar-search-sm {
	margin-right: 30px;
}
}

.woocommerce-result-count{
	width: 100%;
}

/* Put footer in centre */
footer{
	margin: 0 auto;
}

/* Put navbar in centre */
ul.nav-justified > li{
    float:none;
}

/* Layout */
div.first
{
	float: left;
}
