/* Custom login */
/* background of the whole page*/

body {
	background-color:#ffffff !important;
	}
	
/* Title image (The "WordPress Logo") Must use image as a Background!
* Remember to update the height and width your image's dimensions
*/
#login h1 a {
background:url('../screenshot.png') 0 0 no-repeat;
width:150px;
height:150px;
margin-bottom:-20px !important;
margin-right:auto;
margin-left:auto;


}
 
/* The Form ( The login box )
 */

/* The Form ( The login box )
* Background color, border, shadow, etc..
*/
#login form {
margin_top:5px;
background-color:#54021d;
}

 
/* The Login Fields
* Username and Password
*/
#login .input {
background-color:#ffffff;
}
 /* The Labels
* The text above the fields
*/
#login label {
color:#fff;
font-size:12px;
font-size:1.5rem;
}
/*

/*
* The Submit Button
*/
#login input[type=submit] {
background-color:blue;
border-radius:0px;
border:none;
}
 
#login input[type=submit]:active {}


/*
* The Back to blog and Forgot Password link
*/
#nav a,
#backtoblog a {
color:#54021d !important;
font-weight:bold;
}

/*
Read more: http://andornagy.com/customizing-the-wordpress-login-page/#ixzz32MCjsSLu 
Follow us: @andornagy on Twitter

Read more: http://andornagy.com/customizing-the-wordpress-login-page/#ixzz32MAi5yPu 
Follow us: @andornagy on Twitter
*/
